.ResponsiveMedia {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%; // Maintain size when centered using flexbox

  // Ensure content fill placeholder
  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
  }
}
