.ZoomerImage {
  background: whitesmoke;

  > div > div > div {
    width: 100%;
    vertical-align: bottom;
  }
  // opacity: 0;
  // transition: opacity $duration-standard $easing-standard;

  // &.loaded {
  //   opacity: 1;
  // }
}

.defaultScale {
  > div > div {
    cursor: default !important;
  }
}
